<query-editor-row query-ctrl="ctrl" has-text-edit-mode="true" can-collapse="true">

  <div class="gf-form" ng-if="ctrl.target.rawQuery">
    <input type="text" class="gf-form-input" ng-model="ctrl.target.query" spellcheck="false" ng-blur="ctrl.refresh()"></input>
  </div>

  <div ng-if="!ctrl.target.rawQuery">

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">AGG</label>
        <metric-segment segment="ctrl.aggregationSegment" get-options="ctrl.getAggregations()" on-change="ctrl.aggregationChanged()"></metric-segment>
      </div>
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">METRIC</label>
        <metric-segment segment="ctrl.metricSegment" get-options="ctrl.getMetrics()" on-change="ctrl.metricChanged()"></metric-segment>
      </div>
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">POST</label>
        <metric-segment segment="ctrl.asSegment" get-options="ctrl.getAs()" on-change="ctrl.asChanged()"></metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">SCOPE</label>
      </div>
      <div class="gf-form" ng-repeat="segment in ctrl.tagSegments">
        <metric-segment segment="segment" get-options="ctrl.getTags(segment, $index)" on-change="ctrl.tagSegmentUpdated(segment, $index)"></metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">FUNCS</label>
      </div>

      <div ng-repeat="func in ctrl.functions" class="gf-form">
        <span datadog-func-editor class="gf-form-label query-part"></span>
      </div>
      <div class="gf-form dropdown">
        <span datadog-add-func></span>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>

    </div>

    <div class="gf-form-inline">
      <div class="gf-form max-width-30">
        <label class="gf-form-label query-keyword width-7">ALIAS BY</label>
        <input type="text" class="gf-form-input" ng-model="ctrl.target.alias" spellcheck='false' placeholder="Naming pattern" ng-blur="ctrl.refresh()">
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

  </div>

</query-editor-row>
